body, input, textarea, select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    margin: 0px;
    background: linear-gradient(black, 5%, rgb(2, 2, 71));
    min-height: 100vh;
}

.main-header {
    display: flex;
    height: 50px;
}

.films-label-in-header {
    margin: auto 0 auto 19%;
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 550;
}

.add-new-in-header {
    font-size: 22px;
    font-weight: 550;
    color: white;
    top: 5px;
    padding: 7px;
    position: relative;
    border: 2px solid rgb(84, 31, 133);
    border-radius: 10px;
    margin-left: 53%;
    cursor: pointer;
}

.add-new-in-header:hover {
    background-color: rgb(34, 12, 31);
}