.filters-content {
	position: fixed;
	padding: 15px;
	margin: 5px 2px;
    left: 15px; 
    top: 60px; 
    width: 15%;
	color: white;
    border-radius: 15px;
	border: 2px solid rgb(84, 31, 133);
}

.filters-content label, input, select {
	margin: 5px auto;
	max-width: 80%;
	color: white;
}

.filters-content input, select {
	background-color: transparent;
	border: 1px solid rgb(84, 31, 133);
	border-radius: 5px;
}

.filters-content span {
	font-size: 12px;
}

.filters-content #id_director option {
	color: black;
}

.filters-content select {
	width: 80%
}

.main-content {
    width: 63%;
    margin: 15px auto;
}

.film-info,
.add-form {
    margin: 15px auto;
    padding: 5px 15px;
	color: white;
    border-radius: 15px;
	border: 2px solid rgb(84, 31, 133);
}

.add-from input[type=submit] {
	cursor: pointer;
}

.film-info p {
    display: inline-block;
}

.film-info *,
.add-form * {
	background-color: transparent;
}

.film-info input,
.add-form input {
	border: 2px solid rgb(84, 31, 133);
	border-radius: 5px;
}

.delete-film-button,
.change-film-button,
.close-add-form-button {
	float: right;
	border: 1px solid red;
	border-radius: 5px;
	padding: 3px 5px;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.change-film-button {
	margin-right: 10px;
	border: 1px solid rgb(59, 56, 23);
}

.delete-film-button:hover {
	background-color: rgb(97, 14, 14);
}

.change-film-button:hover {
	background-color: rgb(94, 89, 35);
}

.add-form {
	display: none;
	/* overflow: hidden; */
}

.add-film-form,
.add-director-actor-form {
	flex: 1;
}

.add-film-form a,
.add-director-actor-form a {
	font-size: 25px;
}

.add-director-actor-form {
	margin-left: 50px;
	display: none;
	width: 95%;
}

.close-add-form-button {
	font-size: 15px;
	float: right;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: white;
	font-size: 24px;
	text-decoration: none;
	margin-bottom: 15px;
}
.list-pages .page-num {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid rgb(84, 31, 133);
	border-radius: 30px;
}
.page-num:hover {
    cursor: pointer;
    background-color: black;
}

#id_year_of_release__lt, #id_year_of_release__gt {
	width: 70px;
	text-align: center;
}

#id_director {
	width: 150px;
}

#id_actors {
	height: 500px;
}

#id_actors option {
	margin-left: 5px;
}

#id_year_of_release__lt::-webkit-inner-spin-button, 
#id_year_of_release__gt::-webkit-inner-spin-button,
#id_year_of_release__lt::-webkit-outer-spin-button, 
#id_year_of_release__gt::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
  
::-webkit-scrollbar-thumb {
	background: rgb(189, 150, 226);
	border-radius: 5px;
}