<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/base.css' %}">
    <link rel="stylesheet" href="{% static '/index.css' %}">
    <script src="{% static '/scripts.js' %}"></script>
</head>
<body>
    <header class="main-header">
        <a href="{% url 'films:index' %}" class="films-label-in-header">Films</a>
        <a class="add-new-in-header" onclick="activate_add_form()">Add new</a>
    </header>
    <main>
        {% block content %}{% endblock %}
        <script>prepare_document()</script>
    </main>
</body>
</html>
