{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='filters-content'>
    <form method="GET" action="{% url 'films:index' %}">
        <label for="year_of_release__lt">Year: </label>
        {{ form.year_of_release__gt }}<a> - </a>
        {{ form.year_of_release__lt }}<br>
        <label for="director">Director: </label>
        {{ form.director }}<br>
        <label for="actors">Actors <span>(Hold CTRL to select more then one):</span> </label><br>
        {{ form.actors }}<br>
        <input type="submit" value="Submit">
    </form>
</div>
<div class='main-content'>
    <form action="{% url 'films:fill_data' %}" method="POST" style="display: none;">
        {% csrf_token %}
        <input type='submit' class="fill-data-button" value="Заповнити дані">
    </form>
    {% for film in films %}
        <div class='film-info'>
            <a>{{ film.name }}, {{ film.year_of_release }}</a><br>
            <a>Director: {{ film.director }}</a><br>
            <a class="actors-list">Actors: {% for actor in film.actors.all %}{{ actor }}, {% endfor %}</a>
        </div>
    {% endfor %}
    {% if not paginator.num_pages == 1 %}
        <nav class="list-pages">
            <ul>
                {% for page in paginator.page_range %}
                    <li class="page-num" onclick="location.href='?page={{ page }}';">
                        <a>{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}